// Setup Breakpoints
$v-small-breakpoint: 375px;
$small-breakpoint:  580px;
$medium-breakpoint: 768px;
$large-breakpoint:  1024px;
$xl-breakpoint: 1344px;
$nav-breakpoint: 900px;
$nav-small-breakpoint: 680px;

$v-small:         (media: $v-small-breakpoint);
$pre-small-only:  (media: '(max-width: $small-breakpoint - 1)' );
$pre-nav-only:    (media: '(max-width: $nav-breakpoint - 1)' );
$small:           (media: $small-breakpoint);
$small-only:      (media: '(min-width: $small-breakpoint) and (max-width: $medium-breakpoint - 1 )');
$small-medium:    (media: '(min-width: $small-breakpoint) and (max-width: $large-breakpoint - 1 )');
$pre-medium-only: (media: '(max-width: $medium-breakpoint - 1)' );
$pre-nav-only:    (media: '(max-width: $nav-breakpoint - 1)' );
$nav:             (media: $nav-breakpoint);
$nav-small:       (media: $nav-small-breakpoint);
$medium:          (media: $medium-breakpoint);
$medium-only:     (media: '(min-width: $medium-breakpoint) and (max-width: $large-breakpoint - 1 )');
$pre-large-only:  (media: '(max-width: $large-breakpoint - 1)' );
$large:           (media: $large-breakpoint);
$xl:              (media: $xl-breakpoint);
