// -------------------------------------------------
// Ristretto Typography + Standard Element Defaults
// ---------------------------------------------- */
body {
	color: $body-color;
	font-family: $body-font;
	font-size: 100%;
	font-weight: normal;
	line-height: 1.5;
}
a {
	color: $link-color;
	text-decoration:none;
	font-size:1.5rem;
	line-height:1.4;
	letter-spacing:.1rem;
	@include grid-media($small){
		font-size:1rem;
	}

	&:hover, &:focus {
		color: $link-hover;
	}
	nav & {
		text-decoration: none;

		&:hover, &:active {
			text-decoration: none;
		}
	}
}
h1 {
	font-family: $heading-font;
	font-size: 1.5rem;    // ~24px
	line-height: 2;
	text-decoration: none;
	color: #c9c9c9;
	// margin: (16em / 24) 0;
	@include grid-media($small){
		line-height:1;
	}
}

.bio h1{
	color:#fff;
	padding-bottom:2rem;
	letter-spacing: .07rem;
}
h2 {
	color: $heading-color;
	font-family: $heading-font;
	font-size: 1.4rem; // ~21px
	line-height: 1.3;
	padding-bottom:25rem;
	//padding-top:5rem;
	@include grid-media($small){
		padding-bottom:0;
		float:none;
		//padding-top:25rem;

	}
	// margin: (16em / 21) 0;
}
h3 {
	color: $heading-color;
	font-family: $heading-font;
	font-size: 1.125rem;  // ~18px
	line-height: 1.3;
	// margin: (16em / 18) 0;
}
h4 {
	color: $heading-color;
	font-family: $heading-font;
	font-size: 1.4rem; // ~21px
	line-height: 1.3;
	letter-spacing: .07rem;
	// margin: (16em / 14) 0;
}
h5 {
	color: $heading-color;
	font-family: $heading-font;
	font-size: 1rem;      // ~14px
	line-height: 1.3;
	// margin: (16em / 14) 0;
}
h6 {
	color: $link-color;
	font-family: $heading-font;
	font-size: 0.875rem;  // ~14px
	font-size:1.5rem;
	line-height:1.4;
	letter-spacing:.1rem;
	// margin: (16em / 14) 0;
	@include grid-media($small){
		display:block;
	}
}

h6 a{
	text-decoration:none;
	text-transform:uppercase;
	font-weight:500;
	font-size:2rem;
	color:#fff;
}

.seniors{
	//float:left;
	@include grid-media($small){
		display:none;
	}
}

p {
	font-size: .8rem;		 // ~16px
	line-height: 1.8;
	margin: 0 0 1em 0;
	padding-top:3rem;
	letter-spacing: .05rem;
	@include grid-media($small){
		padding:3rem 9rem 0 0;
	}

}
em, i {
	font-style: italic;
	strong, b {
		font-style: italic;
	}
}
strong, b {
	font-weight: bold;
	em, i {
		font-weight: bold;
	}
}
ol {
	margin: 1em 0 1em 1.25em;
}
ul {
	list-style: disc;
	margin: 1em 0 1em 1.1em;

	// remove styling for nav ul's
	nav & {
		@include ul-reset;
		a { text-decoration: none; }
	}
}
