// -------------------------------------------------
// Ristretto Variables
// ---------------------------------------------- */
$heading-font: Helvetica, Arial, sans-serif;
$body-font: Helvetica, Arial, sans-serif;

$gray-light: #f2f2f2;
$gray: #ccc;
$gray-dark: #999;

$green: #9ee500;
$pink: #ec008b;

$body-color: #fff;
$heading-color: #fff;
$warning-color: red;
$highlight-color: #fff;
$link-color: #7b7070;
$link-hover: #fff;

$label-color: $body-color;
$button-color: $link-color;

$ani_speed: 250ms;
