@import "../framework/ristretto";
//--------------------------------------------------------------
//	Gravity Forms
//	Visit this link for CSS Targeting Examples - Very Helpful
//	https://www.gravityhelp.com/documentation/article/css-targeting-examples/
//
//	BASE STYLES
//	FORM HEADER
//	FORM FOOTER
//	CONFIRMATION MESSAGE
//	SELECTS
// 	CHOSEN SELECT
//	CONTENT OVERRIDES
//--------------------------------------------------------------

//--------------------------------------------------------------
//	LOCAL VARIABLES
//--------------------------------------------------------------

// Form
$gf-padding: 0; // set outer padding on form
$gf-bg: #fff; // background color of form
$gf-border-width: 0; // border-width on form
$gf-border-color: $gray; // border color

// Fields / Rows
$gf-field-margin-bottom: rem(25); // margin between field and label below (vertical spacing between rows)

// Labels
$gf-label-font-size: rem(13);
$gf-label-font-color: $body-color;
$gf-label-font-weight: 500;

// Inputs
$gf-input-color-background: $gray-light;
$gf-input-color-border: $gray;
$gf-input-color-text: $body-color;
$gf-input-color-focus-text: $body-color;
$gf-input-padding: .5rem 1rem;

//--------------------------------------------------------------
//	BASE STYLES
//--------------------------------------------------------------
h2.form_title {
	border-bottom: 1px solid $gray;
	border-top: 1px solid $gray;
	color: $heading-color;
	font-size: rem(21);
	margin-bottom: -1rem;
	padding: 1rem 0;
}
#contact-form .gform_wrapper { // the entire form
	background: $gf-bg; // background for the form
	border: $gf-border-width solid $gf-border-color; // outer form border
	margin-top: 3rem;
	padding: $gf-padding; // form padding

	// Single and two-column fields
	&.gform_body .gform_fields .gfield,
	&.gform_body .gform_fields .gfield.gf_left_half,
	&.gform_body .gform_fields .gfield.gf_right_half {
		margin-bottom: $gf-field-margin-bottom; // space between input and label below
	} // &.gform_body .gform_fields .gfield, &.gform_body .gform_fields .gfield.gf_left_half, &.gform_body .gform_fields .gfield.gf_right_half

	.gfield {
		margin-top: 1.5rem;
	}
	// Labels
	.gfield_label {
		color: $gf-label-font-color;
		font-size: $gf-label-font-size;
		font-weight: $gf-label-font-weight;
		line-height: 1.5 !important;
		letter-spacing: 2px;
		text-transform: uppercase;

		// Require field Indicator (Asterisk)
		.gfield_required {
			color: $warning-color;
			font-size: rem(24);
			line-height: 0;
			position: relative;
			top: 8px;
		} // .gfield_required
	} // .gfield_label

	.name_first, .name_last {
		label {
			font-size: rem(11);
			margin-top: .25rem;
			text-transform: uppercase;
		}
	}

	// Standard fields
	input[type="text"],
	input[type="url"],
	input[type="email"],
	input[type="tel"],
	input[type="number"],
	input[type="password"],
	input[type="file"],
	textarea {
		background: $gf-input-color-background;
		border: 1px solid $gf-border-color;
		border-radius: 0;
		padding: .5rem 1rem;
	} // input[type="text"], input[type="url"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"], input[type="file"], textarea

	textarea {
		width: 100%;
	} // textarea

	// Default Drop-Down (Select) Field
	// Feel free to change the svg icon being used
	select {
		-webkit-appearance: none;
		background: url("assets/images/svg-icons/caret-down.svg") no-repeat 97% transparent;
		background-color: $gf-input-color-background;
		background-size: rem(12);
		border-color: $gf-input-color-border;
		border-radius: 0;
		line-height: 1.45;
		padding: $gf-input-padding;
		width: 100%;

		@include grid-media($small){
			width: 49%;
		}
	} // select

	// Description
	.gfield_description {
		color: $gray-dark;
		font-style: italic;
		margin-top: 0;
	}
	.gsection {
		border: none;
		margin: 0;
		margin-top: 3rem;
	}
	.gsection_title {
		color: $heading-font;
		font-size: rem(21);
		font-weight: 300;
		letter-spacing: 2px !important;
	}
	#extensions_message {
		font-size: rem(13);
		text-transform: uppercase;
	}
	// Remove icon for default multi-select
	select[multiple="multiple"] {
		background: $gf-input-color-background;
	} // select[multiple="multiple"]

	// Validation Error Styling
	.validation_error {
		background: $warning-color;
		border: none;
		color: #fff;
		font-size: rem(14);
		font-weight: normal;
		letter-spacing: 1px;
		padding: 1rem;
		text-transform: uppercase;
		width: 97.5%;
	}
	.top_label .gfield_error {
		background: none;
		border: none;
		width: 100%;
		textarea.textarea {
			max-width: 100%;
		}
	}
	li.gfield.gfield_error.gfield_contains_required {
		margin: none !important;
		.name_last { padding-right: 0; }
		div.ginput_container, label.gfield_label {
			margin: 0;
			max-width: 100%;
		}
		div.gfield_description {
			color: $warning-color;
			letter-spacing: 1px;
			margin: 0;
			margin-bottom: .5rem;
			margin-top: .25rem;
			padding: 0;
			padding-top: 0 !important;
			max-width: 100%;
			text-transform: uppercase;
			&:before {
				color: $label-color;
				content: '\f0aa';
				font-family: 'FontAwesome';
				margin-right: .35rem;
			}
		}
	}
	li.gfield_error {
		input[type=email],
		input[type=number],
		input[type=password],
		input[type=tel],
		input[type=text],
		input[type=url],
		textarea {
			border-color: $warning-color;
		}
	}
} // .gform_wrapper

//--------------------------------------------------------------
// 	FORM HEADER
//--------------------------------------------------------------
.gform_wrapper .gform_heading {
	// .gform_title - form title
	// .gform_description - form description
} // .gform_wrapper .gform_heading

//--------------------------------------------------------------
// 	FORM FOOTER
//--------------------------------------------------------------
.gform_wrapper .gform_footer {

	input.button,
	input[type="submit"] {
		background: $heading-font;
		border: none;
		border-radius: 0;
		color: #fff;
		display: inline-block;
		font-family: $heading-font;
		font-size: rem(21);
		font-weight: 600;
		letter-spacing: 2px;
		margin-bottom: 5rem;
		padding: 1rem 2rem;
		text-transform: uppercase;
		transition: all .25s ease-out;
		&:hover {
			color: #fff;
			transform: scale(1.02);
		}
	} // input.button, input[type="submit"]
} // .gform_wrapper .gform_footer

//--------------------------------------------------------------
//	CUSTOM AJAX SPINNER
//--------------------------------------------------------------
.gform_ajax_spinner {
	animation: spinner 1.1s infinite linear;
	border-radius: 50%;
	border: 4px solid rgba(255, 255, 255, 0.3);	/* match with border-left */
	border-left: 4px solid $pink;
	clear: both;
	float: left;
	height: 30px;
	margin-left: 0;
	margin-right: 1.5rem;
	margin-top: .75rem;
	width: 30px;					/* match with height for a circle */
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

//--------------------------------------------------------------
//	SELECTS
//--------------------------------------------------------------
.gform_wrapper .gform_body .gform_fields .gfield select,
.gform_wrapper.gf_browser_chrome .gform_body .gform_fields .gfield select {
	margin-left: 0;
	width: 100% !important; // overrides GF !important

	@include grid-media($small){
		width: 49% !important;
	}
} // .gform_wrapper .gform_body .gform_fields .gfield select, .gform_wrapper.gf_browser_chrome .gform_body .gform_fields .gfield select

//--------------------------------------------------------------
//	CHOSEN SELECT
//--------------------------------------------------------------
.gform_wrapper .gfield .chosen-container-single {
	font-size: rem(16);

	// Link holding initial selection - what user first sees
	.chosen-single {
		background: $gf-input-color-background;
		border-color: $gf-input-color-border;
		border-radius: 0;
		height: auto;
		padding: $gf-input-padding;
	} // .chosen-single

	// Default state of icon for select
	.chosen-single div b {
		@include position(absolute, 40% rem(11) null null);
		//@include triangle(12px, $gray, 'down'); // adjust size and color

		background: none; // hide the default chosen background
	} // .chosen-single div b

	// Selections drop-down
	.chosen-drop {

		// Search box by default has a small magnifying icon on right
		.chosen-search input[type="text"] {
			background: none;
		} // .chosen-search input[type="text"]

		// Search results list
		.chosen-results li {
			padding: rem(10) rem(5);
		} // .chosen-results li
	} // .chosen-drop

	// For styling the icon when select is active
	&.chosen-container-single.chosen-with-drop {

		.chosen-single {
			background-image: none;
		} // .chosen-single

		.chosen-single div b {
			//@include triangle(12px, $gray, 'up'); // adjust size and color for active icon

			border: none; // hiding the previous triangle (border)
		} // .chosen-single div b
	} // &.chosen-container-single.chosen-with-drop
} // .gform_wrapper .gfield .chosen-container-single

//--------------------------------------------------------------
//	CONTENT OVERRIDES
//--------------------------------------------------------------
#content .gform_wrapper {
	margin-right: 0; // allow for full width of containing element
	max-width: 100%; // allow for full width of containing element

	// Standard fields
	input[type="text"],
	input[type="url"],
	input[type="email"],
	input[type="tel"],
	input[type="number"],
	input[type="password"],
	input[type="file"],
	textarea {
		padding: $gf-input-padding;
		width: 100%;

		@include grid-media($small){
			width: 49%;
		}
	} // input[type="text"], input[type="url"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"], input[type="file"], textarea

	.chosen-search input[type="text"],
	textarea {
		width: 100%;
	} // .chosen-search input[type="text"], textarea

	// Validation error message (displays at top of form)
	.validation_error {

	} // .validation_error

	// Error labels (required fields)
	.gfield_error {
		// .gfield_label - error label
		// .validation_message - required error text
	} // .gfield_error

	// Two-column fields
	.gf_left_half,
	.gf_right_half {
		width: 100%;

		// Inputs
		input[type="text"],
		input[type="url"],
		input[type="email"],
		input[type="tel"],
		input[type="number"],
		input[type="password"],
		input[type="file"] {

			@include grid-media($small){
				width: 100%;
			}
		} // input[type="text"], input[type="url"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"], input[type="file"]

		@include grid-media($small){
			width: 49%;
		}
	} // .gf_left_half, .gf_right_half

	// Target just left column on two-column row
	.gf_left_half {

		@include grid-media($small){
			margin-right: 2%;
		}
	} // .gf_left_half

	// Advanced fields
	// https://www.gravityhelp.com/documentation/article/css-targeting-examples/#advanced-fields
	.ginput_complex {

		.name_first input[type="text"],
		.name_last input[type="text"] {
			width: 100%;
		} // .name_first input[type="text"], .name_last input[type="text"]
	} // .ginput_complex
} // #content .gform_wrapper
