.page-id-61{
  background-image:url('../img/about-bg.png');
  background-position:top;
  background-attachment:fixed;
  .flex{
    @include grid-media($small){
      display:flex;
    }
  }
  .flex-row{
    width:100%;
    @include grid-media($small){
      width:50%;
      height:100vh;

    }
    &:first-child{
      height:75%;
      padding-bottom:2rem;
      @include grid-media($small){
        position:fixed;
        height:100vh;
        top:0;
        left:0;
        padding-bottom:0;
      }
    }
    &:last-child{
      @include grid-media($small){
        position:fixed;
        right:0;
        top:25%;
        padding-left:3rem;
      }
    }
  }
  .tag{
    @include grid-media($small){
      padding-left:2rem;
    }
  }
  .info{
    padding-top:0;
    @include grid-media($small){
      width:50%;
      padding-top:10rem;
      font-size:.8rem;
    }
  }
}
