.page-id-190{
  background-image:url('../img/about-bg.png');
  background-position:top right;
  background-attachment:fixed;
  background-repeat: no-repeat;

  .flex{
    padding-bottom:5rem;
    @include grid-media($medium){
      padding-bottom:10rem;
      display:flex;
    }
  }
  .flex-row{
    width:100%;
    &:first-child{
      padding-bottom:2rem;
      @include grid-media($medium){
        position:fixed;
        height:100vh;
        top:0;
        left:0;
        padding-bottom:0;
        width:50%;
      }
    }
    &:last-child{

      @include grid-media($medium){
        position:fixed;
        right:0;
        top:25%;
        padding-left:3rem;
        width:50%;
      }
    }
  }
  .tag{

    @include grid-media($medium){
      padding-left:2rem;
    }
  }
  .tag p{
    @include grid-media($medium){
      width:90%;
      padding: 3rem 3rem 0 0;
    }
  }
  .info{
    padding-top:0;

    @include grid-media($medium){
      width:50%;
      padding-top:10rem;
      font-size:.8rem;

    }
  }


}
