/* IE Overrides */
/* SCSS Framework boilerplate from Ristretto: https://github.com/kylelarkin/ristretto */
* {
  box-sizing: border-box; }

body, select, input, textarea {
  color: #333; }

::-moz-selection {
  background: #fff;
  color: #000;
  text-shadow: none; }

::selection {
  background: #fff;
  color: #000;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #fff; }

ins {
  background-color: #fff;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #fff;
  color: #000;
  font-style: italic;
  font-weight: bold; }

body {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: normal;
  line-height: 1.5; }

a {
  color: #7b7070;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: .1rem; }
  @media only screen and (min-width: 580px) {
    a {
      font-size: 1rem; } }
  a:hover, a:focus {
    color: #fff; }
  nav a {
    text-decoration: none; }
    nav a:hover, nav a:active {
      text-decoration: none; }

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 2;
  text-decoration: none;
  color: #c9c9c9; }
  @media only screen and (min-width: 580px) {
    h1 {
      line-height: 1; } }

.bio h1 {
  color: #fff;
  padding-bottom: 2rem;
  letter-spacing: .07rem; }

h2 {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  padding-bottom: 25rem; }
  @media only screen and (min-width: 580px) {
    h2 {
      padding-bottom: 0;
      float: none; } }

h3 {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.3; }

h4 {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  letter-spacing: .07rem; }

h5 {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.3; }

h6 {
  color: #7b7070;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: .1rem; }
  @media only screen and (min-width: 580px) {
    h6 {
      display: block; } }

h6 a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
  color: #fff; }

@media only screen and (min-width: 580px) {
  .seniors {
    display: none; } }

p {
  font-size: .8rem;
  line-height: 1.8;
  margin: 0 0 1em 0;
  padding-top: 3rem;
  letter-spacing: .05rem; }
  @media only screen and (min-width: 580px) {
    p {
      padding: 3rem 9rem 0 0; } }

em, i {
  font-style: italic; }
  em strong, em b, i strong, i b {
    font-style: italic; }

strong, b {
  font-weight: bold; }
  strong em, strong i, b em, b i {
    font-weight: bold; }

ol {
  margin: 1em 0 1em 1.25em; }

ul {
  list-style: disc;
  margin: 1em 0 1em 1.1em; }
  nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0; }
    nav ul a {
      text-decoration: none; }

.lt-ie8 * {
  box-sizing: border-box;
  *behavior: url("/wp-content/themes/ristretto/js/boxsizing.htc"); }
