/* SCSS Framework boilerplate from Ristretto: https://github.com/kylelarkin/ristretto */
* {
  box-sizing: border-box; }

body, select, input, textarea {
  color: #333; }

::-moz-selection {
  background: #fff;
  color: #000;
  text-shadow: none; }

::selection {
  background: #fff;
  color: #000;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #fff; }

ins {
  background-color: #fff;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #fff;
  color: #000;
  font-style: italic;
  font-weight: bold; }

h2.form_title {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  color: #fff;
  font-size: 1.3125rem;
  margin-bottom: -1rem;
  padding: 1rem 0; }

#contact-form .gform_wrapper {
  background: #fff;
  border: 0 solid #ccc;
  margin-top: 3rem;
  padding: 0; }
  #contact-form .gform_wrapper.gform_body .gform_fields .gfield,
  #contact-form .gform_wrapper.gform_body .gform_fields .gfield.gf_left_half,
  #contact-form .gform_wrapper.gform_body .gform_fields .gfield.gf_right_half {
    margin-bottom: 1.5625rem; }
  #contact-form .gform_wrapper .gfield {
    margin-top: 1.5rem; }
  #contact-form .gform_wrapper .gfield_label {
    color: #fff;
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1.5 !important;
    letter-spacing: 2px;
    text-transform: uppercase; }
    #contact-form .gform_wrapper .gfield_label .gfield_required {
      color: red;
      font-size: 1.5rem;
      line-height: 0;
      position: relative;
      top: 8px; }
  #contact-form .gform_wrapper .name_first label, #contact-form .gform_wrapper .name_last label {
    font-size: 0.6875rem;
    margin-top: .25rem;
    text-transform: uppercase; }
  #contact-form .gform_wrapper input[type="text"],
  #contact-form .gform_wrapper input[type="url"],
  #contact-form .gform_wrapper input[type="email"],
  #contact-form .gform_wrapper input[type="tel"],
  #contact-form .gform_wrapper input[type="number"],
  #contact-form .gform_wrapper input[type="password"],
  #contact-form .gform_wrapper input[type="file"],
  #contact-form .gform_wrapper textarea {
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 0;
    padding: .5rem 1rem; }
  #contact-form .gform_wrapper textarea {
    width: 100%; }
  #contact-form .gform_wrapper select {
    -webkit-appearance: none;
    background: url("assets/images/svg-icons/caret-down.svg") no-repeat 97% transparent;
    background-color: #f2f2f2;
    background-size: 0.75rem;
    border-color: #ccc;
    border-radius: 0;
    line-height: 1.45;
    padding: 0.5rem 1rem;
    width: 100%; }
    @media only screen and (min-width: 580px) {
      #contact-form .gform_wrapper select {
        width: 49%; } }
  #contact-form .gform_wrapper .gfield_description {
    color: #999;
    font-style: italic;
    margin-top: 0; }
  #contact-form .gform_wrapper .gsection {
    border: none;
    margin: 0;
    margin-top: 3rem; }
  #contact-form .gform_wrapper .gsection_title {
    color: Helvetica, Arial, sans-serif;
    font-size: 1.3125rem;
    font-weight: 300;
    letter-spacing: 2px !important; }
  #contact-form .gform_wrapper #extensions_message {
    font-size: 0.8125rem;
    text-transform: uppercase; }
  #contact-form .gform_wrapper select[multiple="multiple"] {
    background: #f2f2f2; }
  #contact-form .gform_wrapper .validation_error {
    background: red;
    border: none;
    color: #fff;
    font-size: 0.875rem;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 1rem;
    text-transform: uppercase;
    width: 97.5%; }
  #contact-form .gform_wrapper .top_label .gfield_error {
    background: none;
    border: none;
    width: 100%; }
    #contact-form .gform_wrapper .top_label .gfield_error textarea.textarea {
      max-width: 100%; }
  #contact-form .gform_wrapper li.gfield.gfield_error.gfield_contains_required {
    margin: none !important; }
    #contact-form .gform_wrapper li.gfield.gfield_error.gfield_contains_required .name_last {
      padding-right: 0; }
    #contact-form .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, #contact-form .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
      margin: 0;
      max-width: 100%; }
    #contact-form .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
      color: red;
      letter-spacing: 1px;
      margin: 0;
      margin-bottom: .5rem;
      margin-top: .25rem;
      padding: 0;
      padding-top: 0 !important;
      max-width: 100%;
      text-transform: uppercase; }
      #contact-form .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description:before {
        color: #fff;
        content: '\f0aa';
        font-family: 'FontAwesome';
        margin-right: .35rem; }
  #contact-form .gform_wrapper li.gfield_error input[type=email],
  #contact-form .gform_wrapper li.gfield_error input[type=number],
  #contact-form .gform_wrapper li.gfield_error input[type=password],
  #contact-form .gform_wrapper li.gfield_error input[type=tel],
  #contact-form .gform_wrapper li.gfield_error input[type=text],
  #contact-form .gform_wrapper li.gfield_error input[type=url],
  #contact-form .gform_wrapper li.gfield_error textarea {
    border-color: red; }

.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type="submit"] {
  background: Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.3125rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 5rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  transition: all .25s ease-out; }
  .gform_wrapper .gform_footer input.button:hover,
  .gform_wrapper .gform_footer input[type="submit"]:hover {
    color: #fff;
    transform: scale(1.02); }

.gform_ajax_spinner {
  animation: spinner 1.1s infinite linear;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.3);
  /* match with border-left */
  border-left: 4px solid #ec008b;
  clear: both;
  float: left;
  height: 30px;
  margin-left: 0;
  margin-right: 1.5rem;
  margin-top: .75rem;
  width: 30px;
  /* match with height for a circle */ }

@keyframes spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.gform_wrapper .gform_body .gform_fields .gfield select,
.gform_wrapper.gf_browser_chrome .gform_body .gform_fields .gfield select {
  margin-left: 0;
  width: 100% !important; }
  @media only screen and (min-width: 580px) {
    .gform_wrapper .gform_body .gform_fields .gfield select,
    .gform_wrapper.gf_browser_chrome .gform_body .gform_fields .gfield select {
      width: 49% !important; } }

.gform_wrapper .gfield .chosen-container-single {
  font-size: 1rem; }
  .gform_wrapper .gfield .chosen-container-single .chosen-single {
    background: #f2f2f2;
    border-color: #ccc;
    border-radius: 0;
    height: auto;
    padding: 0.5rem 1rem; }
  .gform_wrapper .gfield .chosen-container-single .chosen-single div b {
    position: absolute;
    top: 40%;
    right: 0.6875rem;
    background: none; }
  .gform_wrapper .gfield .chosen-container-single .chosen-drop .chosen-search input[type="text"] {
    background: none; }
  .gform_wrapper .gfield .chosen-container-single .chosen-drop .chosen-results li {
    padding: 0.625rem 0.3125rem; }
  .gform_wrapper .gfield .chosen-container-single.chosen-container-single.chosen-with-drop .chosen-single {
    background-image: none; }
  .gform_wrapper .gfield .chosen-container-single.chosen-container-single.chosen-with-drop .chosen-single div b {
    border: none; }

#content .gform_wrapper {
  margin-right: 0;
  max-width: 100%; }
  #content .gform_wrapper input[type="text"],
  #content .gform_wrapper input[type="url"],
  #content .gform_wrapper input[type="email"],
  #content .gform_wrapper input[type="tel"],
  #content .gform_wrapper input[type="number"],
  #content .gform_wrapper input[type="password"],
  #content .gform_wrapper input[type="file"],
  #content .gform_wrapper textarea {
    padding: 0.5rem 1rem;
    width: 100%; }
    @media only screen and (min-width: 580px) {
      #content .gform_wrapper input[type="text"],
      #content .gform_wrapper input[type="url"],
      #content .gform_wrapper input[type="email"],
      #content .gform_wrapper input[type="tel"],
      #content .gform_wrapper input[type="number"],
      #content .gform_wrapper input[type="password"],
      #content .gform_wrapper input[type="file"],
      #content .gform_wrapper textarea {
        width: 49%; } }
  #content .gform_wrapper .chosen-search input[type="text"],
  #content .gform_wrapper textarea {
    width: 100%; }
  #content .gform_wrapper .gf_left_half,
  #content .gform_wrapper .gf_right_half {
    width: 100%; }
    @media only screen and (min-width: 580px) {
      #content .gform_wrapper .gf_left_half input[type="text"],
      #content .gform_wrapper .gf_left_half input[type="url"],
      #content .gform_wrapper .gf_left_half input[type="email"],
      #content .gform_wrapper .gf_left_half input[type="tel"],
      #content .gform_wrapper .gf_left_half input[type="number"],
      #content .gform_wrapper .gf_left_half input[type="password"],
      #content .gform_wrapper .gf_left_half input[type="file"],
      #content .gform_wrapper .gf_right_half input[type="text"],
      #content .gform_wrapper .gf_right_half input[type="url"],
      #content .gform_wrapper .gf_right_half input[type="email"],
      #content .gform_wrapper .gf_right_half input[type="tel"],
      #content .gform_wrapper .gf_right_half input[type="number"],
      #content .gform_wrapper .gf_right_half input[type="password"],
      #content .gform_wrapper .gf_right_half input[type="file"] {
        width: 100%; } }
    @media only screen and (min-width: 580px) {
      #content .gform_wrapper .gf_left_half,
      #content .gform_wrapper .gf_right_half {
        width: 49%; } }
  @media only screen and (min-width: 580px) {
    #content .gform_wrapper .gf_left_half {
      margin-right: 2%; } }
  #content .gform_wrapper .ginput_complex .name_first input[type="text"],
  #content .gform_wrapper .ginput_complex .name_last input[type="text"] {
    width: 100%; }

/*
HTML5 Reset ::style.css - via https://github.com/murtaugh/HTML5-Reset/blob/master/_/css/style.css
----------------------------------------------------------
We have learned much from/been inspired by/taken code where offered from:Eric Meyer ::http://ericmeyer.com
HTML5 Doctor ::http://html5doctor.com
and the HTML5 Boilerplate ::http://html5boilerplate.com
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, img, nav, section {
  display: block; }

/* Responsive images and other embedded objects
Note:keeping IMG here will cause problems if you're using foreground images as sprites.
If this default setting for images is causing issues,you might want to replace it with a .responsive class instead. */
img, object, embed {
  max-width: 100%;
  height: auto; }

/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted.
don't forget to restore the bullets within content. */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well,actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

.lt-ie7 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

/* Accessible focus treatment
people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none; }

small {
  font-size: 85%; }

em, i {
  font-style: italic; }

strong, th, b {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't screw with your line-heights
gist.github.com/413930 */
sub, sup {
  font-size: 60%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.75em; }

sub {
  bottom: -0.5em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace,sans-serif; }

/* hand cursor on clickable elements */
.clickable, label, input[type=button], input[type=submit], button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.lt-ie8 img {
  -ms-interpolation-mode: bicubic; }

/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

html {
  -webkit-text-size-adjust: none; }

input[type='text'], input[type='submit'], textarea {
  -webkit-appearance: none;
  -moz-appearance: none; }

/* SCSS Framework boilerplate from Ristretto: https://github.com/kylelarkin/ristretto */
* {
  box-sizing: border-box; }

body, select, input, textarea {
  color: #333; }

::-moz-selection {
  background: #fff;
  color: #000;
  text-shadow: none; }

::selection {
  background: #fff;
  color: #000;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #fff; }

ins {
  background-color: #fff;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #fff;
  color: #000;
  font-style: italic;
  font-weight: bold; }

body {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: normal;
  line-height: 1.5; }

a {
  color: #7b7070;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: .1rem; }
  @media only screen and (min-width: 580px) {
    a {
      font-size: 1rem; } }
  a:hover, a:focus {
    color: #fff; }
  nav a {
    text-decoration: none; }
    nav a:hover, nav a:active {
      text-decoration: none; }

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 2;
  text-decoration: none;
  color: #c9c9c9; }
  @media only screen and (min-width: 580px) {
    h1 {
      line-height: 1; } }

.bio h1 {
  color: #fff;
  padding-bottom: 2rem;
  letter-spacing: .07rem; }

h2 {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  padding-bottom: 25rem; }
  @media only screen and (min-width: 580px) {
    h2 {
      padding-bottom: 0;
      float: none; } }

h3 {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.3; }

h4 {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  letter-spacing: .07rem; }

h5 {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.3; }

h6 {
  color: #7b7070;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: .1rem; }
  @media only screen and (min-width: 580px) {
    h6 {
      display: block; } }

h6 a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
  color: #fff; }

@media only screen and (min-width: 580px) {
  .seniors {
    display: none; } }

p {
  font-size: .8rem;
  line-height: 1.8;
  margin: 0 0 1em 0;
  padding-top: 3rem;
  letter-spacing: .05rem; }
  @media only screen and (min-width: 580px) {
    p {
      padding: 3rem 9rem 0 0; } }

em, i {
  font-style: italic; }
  em strong, em b, i strong, i b {
    font-style: italic; }

strong, b {
  font-weight: bold; }
  strong em, strong i, b em, b i {
    font-weight: bold; }

ol {
  margin: 1em 0 1em 1.25em; }

ul {
  list-style: disc;
  margin: 1em 0 1em 1.1em; }
  nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0; }
    nav ul a {
      text-decoration: none; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin: 2rem 0;
  max-width: 100%;
  height: auto; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

html, body {
  height: 100%;
  background-color: #000; }

.bio p {
  padding-top: 0;
  padding-right: 0; }

.page-fade-top {
  background: linear-gradient(to bottom, black 0%, transparent 100%);
  height: 100px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5; }
  @media only screen and (min-width: 768px) {
    .page-fade-top {
      display: none; } }

.inner {
  margin: 0 auto;
  max-width: 1400px;
  padding: 2rem 2rem; }
  .inner::after {
    clear: both;
    content: "";
    display: block; }

.zoom {
  z-index: 1; }
  @media only screen and (min-width: 768px) {
    .zoom {
      position: relative;
      top: -75%; } }

.beacon {
  width: 100%; }

.profiles {
  z-index: 1;
  position: relative;
  opacity: 1;
  width: 100%;
  padding-top: 4rem; }

@media only screen and (min-width: 768px) {
  .tag {
    float: left; } }

.name {
  padding-bottom: 5rem; }
  @media only screen and (min-width: 768px) {
    .name {
      columns: 3;
      padding-right: 3rem;
      width: 55%;
      float: right;
      padding-bottom: 2rem; } }

.wp-post-image {
  position: fixed;
  bottom: 0;
  right: -50%;
  z-index: 0;
  background-blend-mode: darken; }
  @media only screen and (min-width: 768px) {
    .wp-post-image {
      height: 100vh;
      width: auto;
      left: 0; } }

.single-post {
  background-color: #0b0b0b; }

article {
  width: 80%; }

.bio {
  width: 80%;
  margin: 2rem 0 0 0;
  position: relative;
  z-index: 2; }
  @media only screen and (min-width: 768px) {
    .bio {
      left: 50%;
      width: 50%; } }

.post-nav {
  display: block;
  width: 100%;
  z-index: 1;
  padding-bottom: 5rem; }
  @media only screen and (min-width: 768px) {
    .post-nav {
      display: flex;
      position: absolute;
      padding-bottom: 1rem;
      bottom: 0;
      z-index: 1;
      left: 50%;
      width: 45%; } }

.previous-post {
  width: 50%;
  text-align: left; }

.next-post {
  z-index: 1; }
  @media only screen and (min-width: 768px) {
    .next-post {
      width: 50%;
      text-align: right; } }

.logo {
  z-index: 5; }

header.body--header {
  z-index: 20;
  position: fixed;
  display: flex;
  width: 100%; }
  header.body--header::after {
    clear: both;
    content: "";
    display: block; }
  header.body--header nav.nav--primary {
    position: fixed;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent 100%, rgba(1, 0, 0, 0) 0%); }
    @media only screen and (min-width: 580px) {
      header.body--header nav.nav--primary {
        top: 0;
        right: 0;
        padding: 1rem 3rem;
        left: auto;
        height: 0; } }

nav ul {
  display: flex;
  padding-bottom: 1rem; }
  @media only screen and (min-width: 580px) {
    nav ul {
      display: flex; } }

.menu a {
  color: #fff;
  padding-left: 2rem; }

.header {
  width: 47%; }

footer.body--footer {
  background: transparent;
  position: fixed;
  bottom: 0;
  display: none; }
  footer.body--footer::after {
    clear: both;
    content: "";
    display: block; }

.page-fade-bottom {
  background: linear-gradient(to top, black 0%, transparent 100%);
  height: 100px;
  left: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2; }
  @media only screen and (min-width: 580px) {
    .page-fade-bottom {
      display: none; } }

.intro {
  background: #9ee500;
  width: calc(25% - 25px);
  float: left;
  margin-left: 20px; }

.page-id-190 {
  background-image: url("../img/about-bg.png");
  background-position: top right;
  background-attachment: fixed;
  background-repeat: no-repeat; }
  .page-id-190 .flex {
    padding-bottom: 5rem; }
    @media only screen and (min-width: 768px) {
      .page-id-190 .flex {
        padding-bottom: 10rem;
        display: flex; } }
  .page-id-190 .flex-row {
    width: 100%; }
    .page-id-190 .flex-row:first-child {
      padding-bottom: 2rem; }
      @media only screen and (min-width: 768px) {
        .page-id-190 .flex-row:first-child {
          position: fixed;
          height: 100vh;
          top: 0;
          left: 0;
          padding-bottom: 0;
          width: 50%; } }
    @media only screen and (min-width: 768px) {
      .page-id-190 .flex-row:last-child {
        position: fixed;
        right: 0;
        top: 25%;
        padding-left: 3rem;
        width: 50%; } }
  @media only screen and (min-width: 768px) {
    .page-id-190 .tag {
      padding-left: 2rem; } }
  @media only screen and (min-width: 768px) {
    .page-id-190 .tag p {
      width: 90%;
      padding: 3rem 3rem 0 0; } }
  .page-id-190 .info {
    padding-top: 0; }
    @media only screen and (min-width: 768px) {
      .page-id-190 .info {
        width: 50%;
        padding-top: 10rem;
        font-size: .8rem; } }

.page-id-61 {
  background-image: url("../img/about-bg.png");
  background-position: top;
  background-attachment: fixed; }
  @media only screen and (min-width: 580px) {
    .page-id-61 .flex {
      display: flex; } }
  .page-id-61 .flex-row {
    width: 100%; }
    @media only screen and (min-width: 580px) {
      .page-id-61 .flex-row {
        width: 50%;
        height: 100vh; } }
    .page-id-61 .flex-row:first-child {
      height: 75%;
      padding-bottom: 2rem; }
      @media only screen and (min-width: 580px) {
        .page-id-61 .flex-row:first-child {
          position: fixed;
          height: 100vh;
          top: 0;
          left: 0;
          padding-bottom: 0; } }
    @media only screen and (min-width: 580px) {
      .page-id-61 .flex-row:last-child {
        position: fixed;
        right: 0;
        top: 25%;
        padding-left: 3rem; } }
  @media only screen and (min-width: 580px) {
    .page-id-61 .tag {
      padding-left: 2rem; } }
  .page-id-61 .info {
    padding-top: 0; }
    @media only screen and (min-width: 580px) {
      .page-id-61 .info {
        width: 50%;
        padding-top: 10rem;
        font-size: .8rem; } }

/*# sourceMappingURL=screen.css.map */