html,body {
	height:100%;
	background-color:#000;
}

//body {
	//////background-image: url('../img/Beacon_UPDATED.jpg');
	////background-color:#010000;
	//background-size: 100%;
	//background-position: center;
	//background-repeat: no-repeat;
	//@include grid-media ($medium){
	//	background-position: 50% 90%;
	//}
//}

.bio p{
	padding-top:0;
	padding-right:0;
}

.page-fade-top {
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
	height: 100px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
	@include grid-media($medium){
		display:none;
	}
}

.inner {
	@include grid-container();
	margin: 0 auto;
	max-width: 1400px;
	padding: 2rem 2rem;
}
//zoom beacon on homepage
.zoom{
	z-index: 1;
	@include grid-media($medium){
		position:relative;
		top:-75%;
	}
}

.beacon{
	width:100%;
}

//profile image on name hover
a:hover{
	//&:after{
	//	content: url('https://www.w3schools.com/howto/img_fjords.jpg')
//	}
}

.profiles{
	//top:125%;
	z-index:1;
	position:relative;
	opacity: 1;
	width:100%;
	padding-top:4rem;
}

.tag{
	@include grid-media($medium){
		float:left;
	}
}
.name{
	padding-bottom:5rem;
	@include grid-media($medium){
		columns:3;
		padding-right:3rem;
		width:55%;
		float: right;
		padding-bottom:2rem;
	}
}
.names{

}

//profile feature image
.wp-post-image{
	position:fixed;
	bottom:0;
	right:-50%;
	z-index:0;
	background-blend-mode:darken;
	@include grid-media($medium){
		height:100vh;
		width:auto;
		left:0;
	}
}

//profile page background color
.single-post{
	background-color:#0b0b0b;
}

article{
	width:80%;
}

.bio{
	width: 80%;
	//float: left;
	margin: 2rem 0 0 0;
	position: relative;
	z-index: 2;
	@include grid-media($medium){
		left:50%;
		width:50%;
	}
	@include grid-media($small){
		//width:75%;
	}
}

//next-previous on profiles
.post-nav{
	display:block;
	width: 100%;
	z-index: 1;
	padding-bottom: 5rem;
	@include grid-media($medium){
		display: flex;
		position: absolute;
		padding-bottom: 1rem;
		bottom:0;
		z-index: 1;
		left: 50%;
		width:45%;
	}
}
.previous-post{
	width:50%;
	text-align:left;

}
.next-post{
	z-index:1;
	@include grid-media($medium){
		width: 50%;
		text-align: right;
	}

}
