footer.body--footer {
	@include clearfix;
	background:transparent;
	position:fixed;
	bottom:0;
	display:none;
}

.page-fade-bottom {
	background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
	height: 100px;
	left: 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 2;
	@include grid-media($small){
		display:none;
	}
}
