

.logo{
	z-index:5;
}

header.body--header {
	@include clearfix;
	z-index:20;
	position:fixed;
	display:flex;
	width:100%;

	nav.nav--primary {
		position:fixed;
		bottom:0;
		left:0;
		background: linear-gradient(to bottom, rgba(0,0,0,0) 100%,rgba(1,0,0,0) 0%);
		@include grid-media($small){
			top: 0;
			right: 0;
			padding: 1rem 3rem;
			left:auto;
			height: 0;
		}
		ul.men
			// Styles for ALL <li>'s and <a>'s
			li {
				&:hover, &:active {}
				a {
					&:hover, &:active {}
				}
			}
			// Styles for only TOP LEVEL <li>'s and <a>'s
			& > li {
				&:hover, &:active {}
				& > a {
					&:hover, &:active {}
				}
			}
		}
		ul.sub-menu {
			// Styles for only CHILD LEVEL <li>'s and <a>'s
			& > li {
				&:hover, &:active {}
				a {
					&:hover, &:active {}
				}
			}
		}
	}
	nav ul{
		display:flex;
		padding-bottom:1rem;
		@include grid-media($small){
			display:flex;
		}
	}
	.menu a{
		color:#fff;
		padding-left:2rem;
	}
	.header{
		width:47%;
	}
